.auction__full__section {
  display: flex;
  align-content: center;
  height: 100vh;
}
.auction__big__section {
  display: flex;
  align-content: center;
  flex: 1;
}

.auction__pic__details {
  display: flex;
  width: 30%;

}

.auction__name__history__descr {
  width: 70%;
}

.auction__pic__article__details {
  display: flex;
  flex-direction: column;
  flex:1;
  padding: 2%;
}

.auction__article__picture {
  display: flex;
  height: ;
}

.auction__article__details {
  display: flex;
}
