/* html,
body {
  background-color: antiquewhite;
} */

/* div {
  min-height: 100px;
} */

/* .auction__big__section {
  height: 50px;
} */

/* section, aside, div, article {
  border: 1px solid black;
} */

/* 
.graph__container {
  width: 80%;
}

.graph {
  width: 80%;
} */

