.auction__full__section {
  display: flex;
  align-content: center;
  /* height: 100vh; */
  flex-direction: column;
}

.auction__big__section {
  display: flex;
  align-content: center;
  flex: 1;
}

.auction__pic__details {
  display: flex;
  width: 30%;

}

.auction__name__history__descr {
  width: 70%;
}


/* LEFT PART */

.auction__pic__article__details__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2%;
}

.auction__article__picture {
  display: flex;
  justify-content: center;
  padding: 5%;
  margin: 20%;
}

.auction__picture {
  --box-border--border: linear-gradient(105deg, rgb(255 46 144) 0%, rgb(61 35 185) 100%);
  padding: 2%;
}

/*  */

@import url('https://fonts.googleapis.com/css?family=Raleway:200');

#boxNFT {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 420px;
  height: 210px;
  color: white;
  font-family: 'Raleway';
  font-size: 2.5rem;
}

#imgNFT {
  max-width: 400px;
  max-height: 200px;
  object-fit: contain;
}



.auction__picture {
  --borderWidth: 2px;
  position: relative;
  border-radius: var(--borderWidth);
}

.auction__picture:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
















/*  */

.auction__article__details {
  display: flex;
  flex-direction: column;
}

.auction__details__container {
  display: flex;
  justify-content: space-between;
}

.auction__article__description {
  display: flex;
  margin: 10% 0;
  justify-content: center;
}

.auction__article__description__text {
  display: flex;
  padding: 2%;
}


/* RIGHT PART */

.auction__name__owner__makeoffer {
  display: flex;
  flex-direction: column;
}

.auction__name__owner__makeoffer__container {
  display: flex;
  flex-direction: row;
  padding: 1%;
}

.auction__history {
  display: flex;
  flex-direction: column;
}

.graph__container__wrapper {
  display: flex;
  padding: 1.5%;
}

.graph__container {
  display: flex;
  padding: 1%;
}

.graph {
  width: 100%;
  height: auto;
}

.event__counter__time__container {
  display: flex;
  flex-direction: column;
}



.auction__offers {
  display: flex;
}


/* Event Counter */

.sale__end {
  width: 100%;
  flex-direction: row;
}

.separator {
  margin-left: 1%;
  margin-right: 1%;
}

.price__history {
  display: flex;
  justify-content: space-between;
}

#dateHistory {
  margin-left: 0;
}

.align {
  padding: 2%;
}

.event__counter__container__wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}


.event__counter__container {
  width: 100%;
}

.event__counter__top {
  display: flex;
  width: 100%;
}

.event__counter__top__wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.event__counter__bot {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.event__counter__bot__wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.event__counter__bot__left {
  display: flex;
  flex-direction: row;
}

.event__hours_min_sec__data {
  color: rgb(240, 81, 81)
}

.event__hours_min_sec__text {
  font-weight: 400;
  font-size: 15px;
  color: rgb(53, 56, 64);
}


/* BOTTOM Part - Offers - Transfer */

.auction__big__transaction {
  display: flex;
  flex-direction: column;
}

.of__tr {
  grid-row: 2 / span 3;
  border-radius: 1rem;
  overflow: scroll;

}

.of__tr::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent;
}

.of__tr::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}

.of__tr::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.8);
}




.of__tr__row {
  padding: 2.25rem 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  justify-content: center;
}

.of__tr__type {
  color: rgb(74, 16, 16);
  padding: 0.1rem 1rem;
  margin-right: 0;
  ;
}

.details {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
  padding-left: 3.8%;
}

.of__tr__price {
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.price__eth {
  padding-left: 0.6%;
}

.of__tr__expir {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
  margin: 0 40%;
}

.adj__left {
  padding-left: 0.75%;
}

.of__tr__from {
  font-size: 1.7rem;
  margin-left: auto;
}

/* .border {
  bor
} */

.border-round {
  padding: 1rem;
  margin: 0.5rem;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);

  border-radius: 0.5rem;

  border-left: 0 solid #333131;
  transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;
}

.little__border-round {
  padding: 1rem;
  margin: 0.5rem;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
  border-radius: 0.5rem;

  border-left: 0 solid #33313185;
  transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;
}


.border-dyn:hover {
  padding-left: 0.5rem;
  border-left: 0.5rem solid #3b37372f;
}

.border-dyn> :first-child {
  margin-top: 0;
}

.border-dyn> :last-child {
  margin-bottom: 0;
}

/* 
body {
  background-image: url('./../img/blurry-gradient-haikei.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 25%;
  background-color: white;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-color: #666;
  border-radius: 0.5rem;
  background-image: url("../img/purple-blue5.png");


  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}


.popup-content {
  padding: 20px;
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}

#balance {
  position: absolute;
  bottom: 0.8px;
  right: 90px;
}
